- var project = projects[indexInCollection]
div.box.projectContainer(data-project="#{project.id}")
  div.wrapper
    div.slider.FLC
      div.graph
        Booga boo
        div.footer
          a(href="#").hide Hide
