!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body


    script(src="/scripts/external/ender.min.js")
    script(src="/scripts/controller/project.js")
    script(src="/scripts/main.js")
    script(src="/socket.io/socket.io.js")
    script
      var socket = io.connect('http://recount.ehowdev.com');