/* ----- RESET ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

body { font: 13px "Lucida Grande", Helvetica, Arial, sans-serif; color: #4c4c4c; background: #eee url('../images/bg_texture.png'); }
p { margin-bottom: 15px; }
a { color: #00B7FF; text-decoration: none; }
h1 { font-size: 24px; color: #222; }
h2 { font-size: 18px; }

/* =Float Container */
.FLC { clear:both; }
.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
html .FLC { #height: 1%; }

/* ----- CLASSES ----- */

.wrapper { margin: 0 auto; width: 960px; position: relative; clear: both; }
.mgb10 { margin-bottom: 10px; }
.mgb15 { margin-bottom: 15px; }
.tal { text-align: left; }
.tar { text-align: right; }
.fl { float: left; }
.fr { float: right; }
.bdr5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.box { margin: 0 15px 20px 0; border: 1px solid #bbb; border-top: 1px solid #ddd; border-left: 1px solid #ccc; background: #f6f6f6; }
.box { box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.20); -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.20); -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.20);}
.box, .box .wrapper { float: left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; position: relative; }
	.box .wrapper { border: 1px solid #fff; }
.box:nth-child(3n+3) { margin-right: 0; }
	.box img { margin-bottom: 10px; }

.header { float: left; width: 100%; padding: 25px 0; }
	.header h1 { font-size: 36px; float: left; }
		.header .icon { float: right; margin: 12px 5px 0 0; width: 32px; height: 32px; }
		.header .icon.results { background: url('../images/271.png') no-repeat top right; }
		.header .icon.home { background: url('../images/202.png') no-repeat top right; }

.inset { text-shadow: #fff 0 2px 1px, #ddd 0 -1px 0;}

#Projects .box { width: 308px; height: 400px; overflow: hidden; }
	#Projects .box .wrapper { width: 306px; height: 398px; overflow: hidden; }
	#Projects .box .project, #Projects .box .vote { float: left; width: 278px; height: 385px; padding: 15px 15px 0; position: relative; }
	#Projects .box .authors { font-size: 11px; color: #888; }
	#Projects .box .footer { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 0; text-align: right; }
    #Projects .box .footer a { margin-right: 10px; font-size: 10px; text-decoration: underline; }
		#Projects .box .footer button { margin-right: 15px; }
  #Projects .box .scroller { margin-top: 15px; height: 275px; overflow: auto; }
  #Projects .box .checkbar { padding: 5px 40px 5px 10px; display: block; margin: 5px 0; font-weight: bold; text-decoration: none; margin-right: 5px; }
    #Projects .box .checkbar:hover, #Projects .box .checkbar.selected { background: #ccc url('../images/207.png') no-repeat right; color: #fff; }
    #Projects .box .checkbar .description { display: block; font-weight: normal; font-size: 10px; }
  #Projects .box .checkbar.selected { background-color: #bbb; }
  #Projects .box .checkbar.unavailable { /* background: none; color: #ccc !important; cursor: default; */ display: none; }
  #Projects .box .checkbar.voted { color: #fff !important; background: #8c8c8c url('../images/208.png') no-repeat right; }

#Projects .slider { width: 700px; }

#Results .box .poll { width: 100%; float: left; padding: 15px; position: relative; }
	#Results .box .poll h2 { font-size: 20px; }
	#Results .box .footer { float: right; clear: both; padding: 0 15px 15px 0; }
  #Results .box dl { width: 930px; margin-top: 15px; }
    #Results .box dt,
    #Results .box dd { height: 20px; margin: 5px 0; }
    #Results .box dt { clear: left; float: left; width: 185px; font-weight: bold; text-align: right; padding-right: 15px; }
    #Results .box dd { float: left; width: 730px; }
      #Results .box dd .bar { height: 15px; background: red; }



